<ng-container *ngIf="{
  appState: (appState$ | async),
  allToDoListsCount: (allToDoListsCount$ | async),
  allITodoItemsCount: (allITodoItemsCount$ | async),
  allNotCompletedItemsCount: (allNotCompletedItemsCount$ | async)
} as myObs">
  <div class="header">
    <h1>{{title}}</h1>
    <h2>by {{developerName}}</h2>
    <h3>{{today | date: 'fullDate'}}</h3>

    <div>
      <button (click)="createNewList()">Create new list</button>
      <button (click)="gotoTodoLists()">View all lists</button>
      <button (click)="gotoTodoItems()">View all items</button>
    </div>
  </div>

  <ng-container *ngIf="myObs.appState">
    <div class="data_content">
      <div class="data_info">
        <div class="data">
          <mat-icon color="primary">list</mat-icon>
        </div>
        <div class="data"></div>
        <div class="data count-data">{{myObs.allToDoListsCount}}</div>
        <div class="data">Lists</div>
      </div>
      <div class="data_info">
        <div class="data">
          <mat-icon color="primary">done_all</mat-icon>
        </div>
        <div class="data count-data">{{myObs.allITodoItemsCount}}</div>
        <div class="data">Todo Items</div>
      </div>
      <div class="data_info">
        <div class="data">
          <mat-icon color="primary">hourglass_empty</mat-icon>
        </div>
        <div class="data count-data">{{myObs.allNotCompletedItemsCount}}</div>
        <div class="data">Active Items</div>
      </div>
    </div>
  </ng-container>
</ng-container>

