:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.edit-list-form {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 600px;
  background-color: #e7e9f4;
  padding: 10px;
  /*justify-content: center;
  align-items: center;
  text-align: center;*/
}

.field-caption {

}

.save-btn {

}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, select.ng-invalid.ng-touched, mat-select.ng-invalid.ng-touched {
  border-color: red;
}

