:host {
  display: flex;
  flex-direction: column;
  grid-template-rows: auto 1fr;
}

h2 {
  align-items: flex-end;
  justify-content: flex-end;
}

.edit-list-form {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 600px;
  background-color: #e7e9f4;
  padding: 10px;
  align-self: center;
  /*justify-content: center;
  align-items: center;
  text-align: center;*/
}

.field-caption {

}

.save-btn {

}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, select.ng-invalid.ng-touched, mat-select.ng-invalid.ng-touched {
  border-color: red;
}

mat-select-trigger {
  background: white;
}

mat-select {
  background: white;
}

.myPanelClass{
  margin-top: 30px !important;
}


