<ng-container *ngIf="{
  todoList: todoList$ | async,
  todoItems: todoItems$ | async,
  isCanDelete: isCanDelete$ | async
} as myObs">

  <div class="todo-list-details-container">
    <div class="todo-list-caption">
      <h1 [style.color]="myObs.todoList?.color">Lists > {{ myObs.todoList?.caption}}</h1>
    </div>
    <div class="todo-list-icon-desc-actions-container">
      <div class="todo-list-icon">
        <mat-icon [style.color]="myObs.todoList?.color">{{myObs.todoList?.icon}}</mat-icon>
      </div>
      <div class="todo-list-desc-actions-container">
        <ng-container *ngIf="!myObs.isCanDelete">
          <div class="todo-list-description">
            {{myObs.todoList?.description}}
          </div>
          <div class="todo-list-actions">
            <button (click)="createNewList()">New List...</button>
            <button (click)="editListDetails(myObs.todoList!.id)">Edit...</button>
            <button class="delete-btn" (click)="checkAgainBeforeDeletion()">Delete</button>
          </div>
        </ng-container>
        <ng-container *ngIf="myObs.isCanDelete">
          <div class="todo-list-description deletion-confirm-msg">
            Are you sure you want to delete the entire list?
          </div>
          <div class="todo-list-actions">
            <button (click)="checkAgainBeforeDeletion()">Cancel</button>
            <button class="delete-btn" (click)="deleteList(myObs.todoList!.id)">Yes I am sure</button>
          </div>
        </ng-container>
      </div>
    </div>

  </div>

  <div class="todo-list-items">
    <ng-container *ngFor="let item of myObs.todoItems">
      <app-todo-item-presenter [caption]="item.caption" [isCompleted]="item.isCompleted"
                               (completedEmitter)="markAsCompletedItem(item.id)"></app-todo-item-presenter>
    </ng-container>
    <div class="add-todo-item-container">
      <div class="add-todo-item add-todo-item-container">
        <input [formControl]="todoItemControl" type="text">
        <button
          [class.add-todo-item-enabled]="todoItemControl.valid"
          [disabled]="!todoItemControl.valid"
          (click)="addTodoItem(myObs.todoList!.id, todoItemControl.value)">
          +
        </button>
        <app-errors-presenter *ngIf="todoItemControl.dirty" [errors]="todoItemControl.errors"></app-errors-presenter>
      </div>
    </div>
  </div>
</ng-container>
